@charset "UTF-8";
#container{
	margin: 0 auto;
	border:solid 1px red;
	width:980px;
	height:500px;
}


input[name='mobile'],input[name='passNumber']{
	border: none;        /* 테두리 제거 */
    outline: none;       
    background-color: transparent; 
    padding: 5px;      
    border-bottom:solid 1px black;
}

#mobilebtn,#passNumbtn{
	border:none;
	background-color:#eb5e28;
	color:white;
	min-width:100px;
	margin-left:10px;
	/* border-radius: 5px; */
}
