@charset "UTF-8";

div#form_container  {
	width: 980px;
	height: 600px;
	margin: 0 auto;
	box-sizing: border-box; /* padding 포함 계산 */
	border:solid 1px red;
}


div#inputIdPW > div#logo{
	margin: 0 auto;	
	margin-top:120px;
	margin-bottom:30px;
}

#loginTbl{
	margin: 0 auto;
}

#loginTbl tbody tr td{
	border-bottom: 2px solid gray;
	width:300px;
}

div#form_container > form {
  	max-width: 350px;
  	height: 320px;
  	margin: 0 auto;
}
	
.inputIdPw{
	border: none;        /* 테두리 제거 */
    outline: none;       /* 포커스 시 나타나는 아웃라인 제거 (선택 사항) */
    background-color: transparent; /* 배경을 투명하게 (선택 사항) */
    padding: 5px;        /* 내부 여백 설정 (선택 사항) */
}
#form_container form {
    text-align: center;
}

.loginjspBtn {
	color: #ffffff; /* 하얀색 폰트 */
    font-size: 14px; /* 폰트 크기 설정 */
    background-color: #ff7a00; /* 주황색 배경 */
    border: none; /* 테두리 제거 */
    border-radius: 5px; /* 모서리를 둥글게 */
    cursor: pointer; /* 마우스 포인터 변경 */
    flex: 1; /* 버튼을 동일한 너비로 설정 */
    text-align: center; /* 텍스트를 가운데 정렬 */
    font-weight:700;
}

#btnSubmit{
	margin-top:40px;
	margin-bottom:20px;
	width:100%;
	height:45px;
	background-color: #ff7a00; /* 주황색 배경 */
    color: #ffffff; /* 하얀색 폰트 */
    font-size: 21px; /* 폰트 크기 설정 */
    
}

#buttonContainer {
    display: flex;
    justify-content: space-between; /* 버튼 사이의 간격을 동일하게 설정 */
    gap: 10px; /* 버튼들 사이에 일정한 간격 추가 (선택 사항) */
}

#findIdBtn{
	background-color: #403d39;
	height:35px;
}

 #findPwBtn{
 	background-color: #403d39;
 	height:35px;
}

#signUpBtn{
	background-color: #ccc5b9;
	height:35px;
	color:black;
}