@charset "UTF-8";

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*#########*/
/*   본문   */
/*#########*/

/* 상단 */
div.member_list_container > h2 {
	color: #333;
    font-weight: bold;
    padding-left: 1%;
    padding-bottom: 2%;
    padding-top: 1%;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*############*/
/*   검색라인   */
/*############*/

/* 검색버튼 */
#member_list > div:nth-child(3) > button {
	background-color: #eb5e28;
    color: white;
   	border: none;
}

div.member_list_container button:hover {
	background-color: #808080;
}

form#member_list {
	margin-bottom: 4%;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*############*/
/*   검색결과   */
/*############*/

/* 테이블 공통 */
table#member_table {
	margin-top: 10px;
	border-radius: 10%;
	
	border-collapse: separate; /* 테이블 셀 사이를 분리하도록 설정 */
    border-spacing: 0; /* 셀 간의 간격을 0으로 설정 */
    border-radius: 5px; /* 테이블의 둥근 모서리 설정 */
    overflow: hidden; /* 둥근 모서리가 잘리지 않도록 */
}

table#member_table td, 
table#member_table th {
    border-left: none;  /* 왼쪽 세로선 제거 */
    border-right: none; /* 오른쪽 세로선 제거 */
}

table#member_table th {
    border: none;
}


/* 테이블 헤더 */
div#search_result > table > thead > tr {
	text-align: center;
	background-color: #403D39;
	color: white;
	font-size: 10pt;
}

/* 테이블 바디 */
div#search_result > table > tbody > tr {
	text-align: center;
}

div#search_result > table > tbody > tr > td{
	vertical-align: middle;
}

div#search_result > table > tbody > tr > td:nth-child(5) {
	text-align: center;
}

/* 영화 호버 효과 */
div#search_result > table > tbody > tr:hover {
	cursor: pointer;
	background-color: #dbd7ce; 
}

/* 회원 상태 */
td.member_status span {
	border: solid 0px red;
	border-radius: 15%;
	display: inline-block;
	
	width: 40px;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*############*/
/*   페이지바   */
/*############*/

div#page_bar {
	border: solid 0px red;
	width: 80%;
	margin: 3% auto 0 auto;
	display: flex;
}

div#page_bar > nav {
	margin: auto;
}

/* 활성 상태의 페이지 번호 글자색 변경 */
.pagination .page-item.active .page-link {
    background-color: #EB5E28;
    border-color: #EB5E28;
    color: white;
}

/* 비활성 상태의 페이지 번호 글자색 변경 */
.pagination .page-item .page-link {
    color: #403D39;
}


/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*#########*/
/*   모달   */
/*#########*/

/* 공통 */
td.info_field {
	font-size: 13pt;
	font-weight: bold;
	text-align: center;
}

/* 예매횟수/총결제액/포인트 */
tr.info_pay td {
	text-align: center;
}

/* 예매차트 */
div#graph_container {
	border: solid 0px red;
}

div#graph_container > div {
	font-size: 13pt;
	font-weight: bold;
	margin-left: 2%;
}