@charset "UTF-8";

@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body{
font-family: 'Pretendard-Regular', sans-serif; /* 'GmarketSansMedium' 폰트를 기본으로 사용, 만약 없으면 sans-serif를 사용 */
margin:0;
padding:0;
background-color:#fffcf2;
}

div#adver {
   width: 100%;
  /*  border: solid 1px red; */
   height: 80px;
   background-color: #1a1413;
}

div.container {
   max-width: 980px; 
   min-width: 980px;
   margin: 0 auto; 
   padding: 0px;
   box-sizing: border-box; 
   /* border: solid 1px red; */
}

div#header{
   width:100%;
   display:flex;
   align-items: flex-start; 
   margin-top:20px;
   margin-bottom:0px;
}

div#logo{
   width: 12.24%;
   height: 61px;
   /* border: solid 1px red; */
   margin-top: auto;
}


div#web_name{
   width: 36%; 
    max-width: 295px; 
    height:27px;
    /* border: solid 1px red; */
    align-self: flex-end; /* 부모 요소의 교차 축(세로) 하단으로 이동 */
    margin-left:5%;
    letter-spacing: 5px; 
}



.icon{
	text-align:center;
	margin-top:22px;
}
.iconLink{
	color:#eb5e28;
}
.iconLink:hover{
	color: #d24914;
	transition: 0.3s;
}
.custom_a{
	display: block; 
    text-align: center;
    width: 100%;
	margin-right:0px;
	font-size: 15px;
	color: black;
}
.custom_a:hover{
	color: #8c8c8c;
}



div#header > ul {
	width:360px;
   list-style: none;
   display:flex;    
   margin-left:250px;
   margin-bottom:0px;
   padding:0px;
   /* border: solid 1px black; */
}

div#header > ul > li{
   width:6em;
   height:80px;
}

	

div#header > ul > li:nth-child(1){
   
   /* border: solid 1px red; */
   margin-right:5%;
}
div#header > ul > li:nth-child(2){
   
   /* border: solid 1px blue; */
   margin-left:5%;
   margin-right:5%;
}
div#header > ul > li:nth-child(3){
   
   /* border: solid 1px black; */
   margin-left:5%;
}


/* 네비게이션 바 */
.nav.sticky-nav {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 99; 
    background-color: #fffcf2; 
}

#nav_mediatop {
    min-width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: center; 
    background-color: inherit; 
}

#nav_mediatop .nav-list {
    max-width: 980px; 
    width: 100%; 
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
}


.nav-list{
	min-width: 980px;
	/* border:solid 1px red; */
}


/* 링크 스타일 초기화 */
.nav.sticky-nav .nav-link {
    color: black; 
    padding: 10px 20px; 
    text-decoration: none; 
}

/* 링크 hover 스타일 */
.nav.sticky-nav .nav-link:hover {
    background-color: #eb5e28;
    color:white;
}

.btn-outline-success {
    border-color: #eb5e28;
    color: #eb5e28;
}

.btn-outline-success i {
    color: #eb5e28;
}

.btn-outline-success:hover {
    background-color: #eb5e28;
    color: #fff;
    border-color: #eb5e28;
}

.btn-outline-success:hover i {
    color: #fff;
}

.custom_link:hover{
	background-color: #eb5e28;
	transition: 0.2s;
}


form #mv_search {
    background-color: transparent; 
    border: none;                  
    outline: none;                
    color: #000;    
    width:42px;
	height:38px;   
	cursor: pointer;
	border:solid 1px #eb5e28;
	border-radius: 5px;  
	padding-top: 5px;
    padding-left: 9px;        
}

#mv_search:hover{
	background-color: #eb5e28;
	transition: 0.3s;
}







/* 헤더 끝 index.jsp 시작  */

/* 메인의 영화예고편 */
#customVideoContainer{
	width: 100%; height:690px;background-color: black; position: relative;
}
#customVideoPositionRelative{
	width: 1240px; height:690px; margin: 0 auto; position: relative;
}
#customVideo{
	width: 1240px; height: 690px;
}
#trailerContentElmt{
	position: absolute; bottom: 20px; left: 70px; top:250px;
}
#trailerTitle{
	color:white; font-size:30pt;font-weight:700;text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
}
#trailerInfo{
	color:white;
}
#videoControls{
	display: flex; align-items: center; padding: 10px;
}
#trailerShowDetailBtn{
	border: none; background-color: #eb5e28; border-radius: 10px; color:white;font-size: 12px; width: 80px; height: 25px;
}
#trailerShowDetailBtn:hover{
	background-color: #d24914;
	transition: 0.3s;
}
#playPauseBtn{
	margin-left:5px;width:20px;border: none; cursor: pointer; background-color: transparent; 
}
#muteBtn{
	border: none; cursor: pointer; background-color: transparent;
}
#overlayForgradation{
	position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(to right, black, transparent 10%, transparent 90%, black); pointer-events: none;
}







#movie_ct{
   margin-top: 20px;
   margin-bottom: 20px;
}

div#content{
   width:100%;
   /* border:solid 1px blue; */
   margin-top:0px;
    width: 90%; 
   max-width: 980px;
   min-width: 980px;
   margin: 0 auto; 
   padding: 0px; 
   box-sizing: border-box; 
}

.card {
    width: 170px;
    height: 234px;
    border: none;
}

#movieGradeElmt{
	position: relative; 
	width: 170px; 
	height: 234px; 
	margin: 0 auto;
}

.movieGrade{
	width:20px;
}
.movieRank{
	position:absolute; 
	bottom:0px; 
	left:10px; 
	font-size:40pt; 
	color:white;
	z-index:2;
}
/* .first-card {
    padding-left: 4px !important;
} */
.col{
	padding-right:0px;
	padding-left:13px;
}

.movieTitle{
	text-align:center; 
	margin-top:10px;
	margin-bottom:0px;
}
.bookingRate{
	text-align:center;
	font-size:10pt; 
}

a.carousel-control-prev{
	width: 30px;
	height:50px;
	margin: auto 0;
}
a.carousel-control-next{
	width: 30px;
	height:50px;
	margin: auto 0;
}

.card {
    border-radius: 10px; 
    overflow: hidden; 
}
.movieCard {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movieCard::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, black 10%, rgba(255, 255, 255, 0) 40%);
    opacity: 0.5;
    z-index: 1; 
    pointer-events: none; 
}

.poster {
    transition: filter 0.1s ease;
}
.poster:hover {
    filter: brightness(50%); /* 배경 빛을 죽임  */
}

.movieCard {
    position: relative;
    z-index: 1; 
}

#movieDetailBtn{
	width:120px;
	height:35px;
	padding: 8px; 
	background-color: white; 
	border: none; border-radius: 5px; 
	color: gray; 
	font-weight: bold;
	font-size: 13px; 
	cursor: pointer;
}
#movieDetailBtn:hover{
	background-color: #fffcf2; 
	opacity: 0.5;
}
#movieReservationBtn{
	width:120px; 
	height:35px; 
	padding: 8px; 
	background-color: #eb5e28; 
	border: none; 
	border-radius: 5px; 
	color: white; 
	font-weight: bold;
	font-size: 12px; 
	cursor: pointer;
}
#movieReservationBtn:hover{
	opacity: 80%;
}


#cardCarousel {
    position: relative; /* carousel의 부모 요소에 상대적 위치를 지정 */
}

#cardCarousel > a.carousel-control-next > span.carousel-control-next-icon,
#cardCarousel > a.carousel-control-prev > span.carousel-control-prev-icon {
    position: absolute;
    top: 50%; /* 버튼이 세로 가운데에 오도록 */
    transform: translateY(-50%); /* 정확하게 세로 중앙에 위치시키기 위한 변환 */
}




#cardCarousel2 {
    position: relative; /* carousel의 부모 요소에 상대적 위치를 지정 */
}

#cardCarousel2 > a.carousel-control-next > span.carousel-control-next-icon,
#cardCarousel2 > a.carousel-control-prev > span.carousel-control-prev-icon {
    position: absolute;
    top: 50%; /* 버튼이 세로 가운데에 오도록 */
    transform: translateY(-50%); /* 정확하게 세로 중앙에 위치시키기 위한 변환 */
}

span.carousel-control-prev-icon {
    left: 4px; 
}

span.carousel-control-next-icon {
    right: 4px; 
}

.carousel-control-prev {
	left: -15px;
    top: -70px;
}
.carousel-control-next{
	right: -15px;
    top: -70px;
}



/* 공지사항 */
div#notis {
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 100px;
  display:flex;
  width: 95%;
  height: 223px;
  /*  border: solid 1px gray;*/
  border-radius: 10px; 
}

div#notis>#left {
  width: 60%;
  padding-left:2%;
  padding-top:2%;
  height: 100%;
  border: solid 1px gray;
  border-top-left-radius: 10px; 
  border-bottom-left-radius: 10px; 
}

.notice_subject:hover{
	color: gray;
}

div#notis>#right {
  width: 40%;
  height: 100%;
  border: solid 1px gray;
  border-top-right-radius: 10px;   
  border-bottom-right-radius: 10px; 
}
#rightContent{
	/* border:solid 1px red; */
	margin: 0 auto;
	width:300px;
	height:150px;
	margin-top: 40px;
}

/* 콘텐츠 높이 상관없이 푸터 하단에 두기 
#wrap {
    min-height: 100%;
    position: relative;
}
 */
footer {
   /*  콘텐츠 높이 상관없이 푸터 하단에 두기
    position: relative; 
    transform: translatY(-100%); */
    width:100%;
    height: 170px;
    background-color:#CCC5B9;
}
div#footer_info{
   max-width: 980px;
   min-width: 980px; 
   margin-right: auto; 
   padding: 0px;
   box-sizing: border-box; 
   text-align: left;
   /* border:solid 1px red; */
   margin: 0 auto; 
   padding: 0px; 
   box-sizing: border-box;
   white-space: nowrap; 
}
#footer_info>p{
padding-left: 25px;
padding-top: 25px;
color:#252422;
}



/* ///////////////////// Top 버튼 ///////////////// */
#scroll-btn {
    cursor: pointer;
    opacity: 0;
    width: 50px;
    height: 50px;
    color: #fff;
    background-color: #fffcf2;
    position: fixed;
    bottom: 102px;
    right: 50%; 
    margin-right:-563px;
    border: 1px solid black;
    border-radius: 50%;
    font: bold 20px monospace;
    transition: opacity 0.5s, transform 0.5s;
    z-index: 99;
}
#scroll-btn:hover{
	border: solid 1px #eb5e28;
	transition: 0.3 s;
}

#scroll-btn.show {
    opacity: 1;
    transition: opacity 1s, transform 1s;
}










