@charset "UTF-8";

body {
	user-select: none;
}

div.steps {
	height: 600px;
}

div.section {
	position: relative;
	float: left;
	max-height: 600px;
	min-height: 600px;
	border-left: solid 1px gray;
	border-right: solid 1px gray;
}

div.col-body {
	max-height: 520px;
	min-height: 520px;
	overflow: auto;
}

div.movie {
	width: 400px;
}

div.date {
	width: 178px;
}

div.time {
	width: 400px;
}

h3.title {
	background-color: #333;
	color: white;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

table#movie-list {
	margin-left: 20px;
}

tr.movie-list {
	font-size: 13pt;
	line-height: 45px;
}

td.movie-grade {
	display: inline-block;
	width: 35px;
}

td.movie-title {
	min-width: 300px;
	font-weight: bold;
}

div#col-body li {
	list-style-type: none;
}

li.day {
	width: 100px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	height: 45px;
	line-height: 45px;
}

li.day > span.date,
li.day > span.dayweek {
	display: inline-block;
	height: 40px; 
	width: 40px;
}

.year {
	margin-top: 20px;
	display: block;
	font-size: 12pt;
	line-height: 10pt;
	font-weight: bold;
}
.month {
	margin-bottom: 20px;
	display: block;
	font-size: 30pt;
	line-height: 28pt;
	font-weight: bold;
}

div.date {
	text-align: center;
}

span.date {
	font-weight: bold;
}

.mouse_block {
	pointer-events: none;
	opacity: 0.5;
}

.selected {
	background-color: #333;
	color: white;
	border-style: double;
}

img.movie_grade_img {
	width: 30px;
	height: 30px;
}

td.time_data {
	border: solid 1px #d6d3ce;
	font-weight: bold;
	margin-left: 10px;
	padding: 3px;
}

td.unused_seat {
	text-align: center;
}

td.screen_no_data {
	font-weight: bold;
	text-align: center;
}

table.time-tab {
	border-collapse: separate;
	border-spacing: 0 1rem;
}

td.time_data:hover,
li.day:hover,
tr.movie-list:hover {
	cursor: pointer;
	background-color: #EB5E28;
	color: black;
}

tr.movie-list > td {
	height: 50px;
}

.date ul {
	padding: 0;
	text-align: center;
}

div.ticket-info-container {
	width: 100vw;
	position: relative;
	left: calc(-50vw + 50%);
	min-height: 100px;
	max-height: 100px;
	background-color: black;
}

div.ticket-info {
	color: white;
	min-height: 100px;
	max-height: 100px;
}

div.ticket-info > div {
	width: 18%;
	display: inline-block;
	font-size: 15pt;
	text-align: center;
	vertical-align: middle;
	margin: auto 0;
}

div#pay-choice > div {
	font-size: 10pt;
}

div#time-choice {
	color : white;
}

div#person-screen {
	height: 150px;
}

div#numberOfPeople {
	display: inline-block;
	width: 500px;
}

div#screen-info {
	display: inline-block;
	width: 400px;
}

div#seat-screen {
	display: block;	
	height: 350px;
}

div#seat-screen > button {
	width: 40px;
}

div#seat-screen > span {
	display: inline-block;
	width: 40px;
	height: 50px;
	margin: 0 1%;
}

div#numberOfPeople label {
	width: 80px;
}

div#numberOfPeople button {
	border: solid 1px #d6d3ce;
	margin-right: 6px;
	font-weight: bold;
	font-size: 12pt;
}

div.btn-group {
	margin-bottom: 5px;
}