@charset "UTF-8";

div.container > div.row > div {
	padding: 0;
	border-left: solid 2px ivory;
	border-right: solid 2px ivory;
}

div.container > div.row > div > h5 {
	background-color: black;
	color: gray;
	font-weight: bold;
	border: solid 1px blue;
	margin: 0;
}