@charset "UTF-8";

h5 {
	background-color: black;
	color: white;
	text-align: center;
	padding: 10% 0;
	height: 500px;
}

div.row > div {
	margin: 0;
	padding: 0;
	border-left: solid 1px gray;
	border-right: solid 1px gray;
}