@charset "UTF-8";

@charset "UTF-8";

div.mycontainer {
	border: solid 1px gray;
	width: 90%;
	
    max-width: 980px;
    min-width: 980px;
    margin: 0 auto;
    padding: 0px;
}

div.myheader {
	border: solid 1px red;
	height: 390px;
}

div.mybody {
	border: solid 1px blue;
	/* min-height: 100%; */
	display: flex;
  	flex-wrap: wrap;
	
	margin-top: 50px;
}

section#mysidebar {
	border: solid 1px purple;
	width: 155px;
	height: 390px;
	/* float: left; */
	
	margin-right: 15px;
}

section#mycontent {
	border: solid 1px pink;
	width: 82%;
	/* float: right; */
}

section#mysidebar ul,
section#mysidebar li {
	list-style: none;
}
