@charset "UTF-8";

@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Pretendard-Regular', sans-serif; /* 'GmarketSansMedium' 폰트를 기본으로 사용, 만약 없으면 sans-serif를 사용 */
}

div.mycontainer {
	border: solid 0px gray;
	width: 90%;
	
    max-width: 980px;
    min-width: 980px;
    margin: 0 auto;
    padding: 0px;
}

/* 상단
div.myheader {
	border: solid 1px red;
	height: 250px;
	padding:35px;
    background-color: #ccc5b9;
}
 */
 
div.myheader {
	border: solid 0px red;
	font-size: 40px;
	font-weight: bold;
	padding-left: 2%;
	padding-top: 1%;
	height: 50px;
} 
 
/* 중단(사이드바 + 본문) */
div.mybody {
	border: solid 0px blue;
	display: flex;
  	flex-wrap: wrap;
	
	margin-top: 3%;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*#########*/
/*   본문   */
/*#########*/
section#mycontent {
 	border: solid 1px #CCC5B9; 
 	border-radius: 5px;
	float: right;
	width: 79%; 
    padding: 10px; 
    margin-bottom: 1%;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*############*/
/*   사이드바   */
/*############*/
section#mysidebar {
	border: solid 0px purple;
	float: left;
	width: 21%; 
    height: 100%; 
    padding: 10px; 
    box-sizing: border-box; 
}

/* AdminPage Home */
li#admin_header > a {
	font-size: 13pt !important; 
	font-weight: bold;
}

/* 상위 메뉴 스타일 */
section#mysidebar > li {
    text-decoration: none;
    color: black;
    font-size: 13pt; 
    font-weight: bold; 
    display: block; 
    padding: 10px;
}

/* 하위 메뉴 스타일 */
section#mysidebar ul {
	list-style: none; 
    padding: 0;
    margin: 0;
    
    margin-top: 5px; 
    padding-left: 6px; 
}

section#mysidebar ul li {
	margin-bottom: 5px;
}

section#mysidebar ul li a {
	font-size: 12pt; 
}


section#mysidebar li a {
	text-decoration: none; 
    color: #555; 
    display: block; 
    padding: 5px 0; 
    padding-left: 10px;
    transition: all 0.3s ease;
}

section#mysidebar a.active,
section#mysidebar a:hover {
	background-color: #eb5e28; 
	border-radius: 5px;
    padding-left: 13px; 
    color: #fff; 
}

/* 메뉴 선택시 해당하는 목록도 함께 색상 변경 */
.parent_active {
	background-color: #403D39;
	border-radius: 5px;
	padding-left: 13px; 
	color: white !important;
}



/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*############*/
/*   통계차트   */
/*############*/

/* 본문 전체 */
div.movie_header {
	background-color: #e9e7e0;
	padding: 10px;
 	border-radius: 5px;
}

/* 공통 */
div.movie_header >  div {
	border: solid 0px red;
	background-color: #fff;
}

/* 통계요약 */
div#statistics {
	background-color: #e9e7e0;
	margin-bottom: 4%;
}

div#statistics > div {
	background-color: #fff;
	border-radius: 3px;
	padding: 15px 0 7px 7px;
	height: 75px;
}

div#statistics > div:nth-child(-n+3) {
	margin-right: 10px;	
}

div#statistics > div.visit {
	border-left: solid 4px #62A87C;
}

div#statistics > div.pay {
	border-left: solid 4px #C94F53;
}

div#statistics > div > div:first-child {
	font-size: 9pt;
}

div#statistics > div > div:last-child {
	font-size: 14pt;
}

div#statistics > div.visit > div:first-child {
	color: #62A87C;
	font-weight: bold;
}

div#statistics > div.pay > div:first-child {
	color: #C94F53;
	font-weight: bold;
}

/* 차트 공통 */
div.chart_body {
	border-radius: 3px;
	margin-top: 3%;
}

div.chart_body > div.statistis_title {
	font-size: 14pt;
	font-weight: bold;
	padding-left: 2%;
	padding-top: 0.9%;
	height: 42px;
	background-color: #b9d6d433;
	color: #403D39;
}

/* 전체 영화 예매 추이 버튼*/
div#total_reserved > button {
  display: block;
  position: relative;
  float: left;
  width: 60px;
  padding: 0;
  margin: 10px 10px 10px 0;
  font-weight: 600;
  text-align: center;
  line-height: 25px;
  color: #FFF;
  border-radius: 5px;
  transition: all 0.2s ;
  border: none;
}

button#day_btn {
	margin-left: 1.5% !important;
}

.btnLightBlue {
  background: #5DC8CD;
}

.btnLightBlue.btnBorder {
  box-shadow: 0px 0px 0px 0px #01939A;
}

.btnLightBlue.btnBorder:hover {
  box-shadow: 0px 0px 0px 3px #01939A;
}

/* 클릭 상태에서 유지할 스타일 */
.btn-clicked {
    box-shadow: 0px 0px 0px 3px #01939A !important;  /* 클릭된 상태에서 유지되는 box-shadow */
}