@charset "UTF-8";

select:disabled {
    background-color: #fff !important;  
    color: #000 !important;             
    opacity: 1 !important;                 
    border: 1px solid #ccc !important;     
}

input:disabled {
    background-color: #fff !important;  
    color: #000 !important;             
    opacity: 1 !important;                 
    border: 1px solid #ccc !important;     
}

/* 감독 태그 */
#director_tags .director_tag {
  background-color: #c0c0c0; 
  color: white;     
  border-radius: 12px;
  padding: 8px 12px;
  margin: 5px 8px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

/* 배우 태그 */
#actor_tags .actor_tag {
  background-color: #c0c0c0;
  color: white;
  border-radius: 12px;
  padding: 8px 12px;
  margin: 5px 8px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

/* 삭제 버튼*/
#director_tags .director_tag button,
#actor_tags .actor_tag button {
  background: transparent;  /* 투명 */
  border: none;
  margin-left: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
}

/* 삭제 버튼 호버*/
#director_tags .director_tag button:hover,
#actor_tags .actor_tag button:hover {
  color: red;
}

#director, #actor {
  margin-bottom: 15px;  /* 입력 필드와 태그 간 간격 */
}


