@charset "UTF-8";

/* 공통 카드 스타일 */
div.movielikecss {
/* 	border: solid 1px black;  */
    height: 370px;
    width: 197px;
    margin: auto 20px;
    background-color: transparent;
}

/* 포스터 이미지 케이스 */
div.poster_relative{
	position: relative;
    display: inline-block;
	width:197px;
	height:273px;
	padding:6px;
	background-color: #252422;
}

/* 이미지 스타일 */
img.card-img-top {
	/* border: solid 1px red;  */
    width: 185px;
    height: 261px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}


div#mymovielikeHIT > div.card-body.movielikecss1 {
	border: solid 1px blue; 
	width: 197px;
	height: 73px;
}

/* 제목과 날짜 스타일 */
label.movietitle {
	margin: 0;
    width: 95%;
    color: #222;
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*더보기 버튼 스타일 */
button.mymovielikebutton{
	 width:140px;
	 height:40px;
	 border: none;
	 border-top: dashed 1px black;
	 border-bottom: dashed 1px black;
}

/* 버튼 스타일 */
a.mybtnlike {
    background-color: #252422;
    color: white;
    border: none;
    padding: 10px 5px;
    font-size: 12pt;
    cursor: pointer;
}

a.mybtnlike:hover {
    background-color: #eb5e28;
}

a.myDetailcss{
	border: solid 1px blue; 
}

.movielikeDelBtn {
    position: absolute;
    top: 10px; 
    right: 10px; 
	background-color: #403d39;
	color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    z-index: 10;
}

.movielikeDelBtn:hover {
   	background-color: #eb5e28;
}

div.movielikecss1 > ul > li{
	 text-align: center;
}

div#mymovielikeHIT > div > div > div.movielikecss1 > ul > li.text-center > a{
	color:white;
	background-color: #403d39;
}

div#mymovielikeHIT > div > div > div.movielikecss1 > ul > li.text-center > a:hover {
	background-color: #eb5e28;
}
