/* 전체 리스트 */
.my_moviereview_List {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

/* 카드 스타일 */
.my_main_moviereview_card {
	display: flex;
	align-items: flex-start; /* 포스터와 리뷰 정보가 위쪽에서 정렬 */
	border-bottom: 1px solid #ddd;
	padding: 15px 0;
	position: relative;
}

/* 포스터 */
.my_main_moviereview_poster {
	float: left;
	width: 110px;
	height: 158px;
	margin-right: 20px;
}

.my_main_moviereview_poster img {
	width: 110px;
	height: 154px;
}

/* 리뷰 정보 (오른쪽) */
.my_main_moviereview_box {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.my_moviereview_title {
	font-size: 18px;
	font-weight: bold;
	color: #333;
	margin-bottom: 5px;
}

.my_main_moviereview_box ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	gap: 10px;
	font-size: 14px;
	color: #666;
}

.review_date {
	font-size: 14px;
	color: #333;
	margin-top: 5px;
}

/* 삭제 버튼 */
.mymoviereview_delete_btn {
	position: absolute;
	top: 15px;
	right: 15px;
	background-color: transparent;
	color: #333;
	border: none;
	font-size: 25px;
}

.mymoviereview_delete_btn:hover {
	color: #eb5e28;
}

/* 수정 버튼 */
.mymoviereview_update_btn {
	margin-top: 10px;
	padding: 5px 10px;
	font-size: 14px;
    background-color: #403d39;
    color: #fff;
    border:none;
    border-radius: 4px;
}

.mymoviereview_update_btn:hover {
	background-color: #ccc5b9;
	color: black;
}