@charset "UTF-8";

/* 전체 창 */
div.my_container {
	/* border: solid 1px gray; */
	width: 90%;
	max-width: 980px;
	min-width: 980px;
	margin: 0 auto;
	padding: 0px;
}

/* 마이페이지 사이드바 & 매안 창 */
div.my_container>div.my_main {
	/* border: solid 1px blue; */
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* 마이페이지 나의 프로필장 */
body>div.my_container>div.myprofile {
	/* border: solid 1px black;   */
	height: 250px;
	padding: 35px;
	background-color: #ccc5b9;
}

div.profile-container {
	display: flex;
	align-items: center;
	gap: 35px;
}

div.profile-container>i.fa-circle-user {
	font-size: 150px;
	padding: 20px;
}

div.profile-info h2 {
	margin: 0 0 10px 0;
	font-size: 24px;
	font-weight: bold;
	color: #252422;
	border-bottom: solid 2px black;
}

div.profile-info p {
	margin: 5px 0;
	font-size: 16px;
	color: #333;
}

div.profile-info strong {
	font-weight: bold;
	color: #000;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* 마이페이지 사이드바 */
body>div.my_container>div.my_main>div.my_hside {
	/* border: solid 1px black; */
	flex: 0 0 20%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
}

div.my_container>div.my_main>div.my_hside ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

div.my_container>div.my_main>div.my_hside ul li {
	margin-bottom: 10px;
}

/* 상위 메뉴 스타일 */
div.my_container>div.my_main>div.my_hside ul li>a {
	text-decoration: none;
	color: black;
	font-size: 16px;
	font-weight: bold;
	display: block;
	padding: 10px;
	border-radius: 3px;
	transition: all 0.3s ease;
}

/* 활성화 상태 (MyPage HOME 기본 활성화) */
div.my_container>div.my_main>div.my_hside ul li>a.active, div.my_container>div.my_main>div.my_hside ul li>a:focus
	{
	background-color: #eb5e28;
	color: #fff;
	padding-left: 17px;
}

/* 클릭/활성화 전 상태 호버 효과 */
div.my_container>div.my_main>div.my_hside ul li>a:hover, div.my_container>div.my_main>div.my_hside ul li ul li a:hover
	{
	background-color: #eb5e28;
	padding-left: 13px;
	color: #fff;
}

/* 하위 메뉴 스타일 */
div.my_container>div.my_main>div.my_hside ul li ul {
	margin-top: 5px;
	padding-left: 6px;
}

div.my_container>div.my_main>div.my_hside ul li ul li {
	margin-bottom: 5px;
}

div.my_container>div.my_main>div.my_hside ul li ul li a {
	text-decoration: none;
	color: #555;
	display: block;
	padding: 5px 0;
	padding-left: 10px;
	transition: all 0.3s ease;
}

div.my_container>div.my_main>div.my_hside ul li ul li>a {
	font-size: 15px;
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* 메인 콘텐츠 영역 */
body>div.my_container>div.my_main>div.mypage_main_content {
	border: solid 1px black;
	position: relative;
	flex: 1;
	min-height: 800px;
	padding: 10px;
	margin-top: 25px;
	padding-top: 25px;
}

/* 메인 콘텐츠 박스 */
body>div.my_container>div.my_main>div.mypage_main_content>div.mypage_box_css
	{
	margin-bottom: 30px;
}

/* 섹션 제목 */
body>div.my_container>div.my_main>div.mypage_main_content>div.mypage_box_css>h3
	{
	border-bottom: 2px solid #ddd;
	padding-bottom: 5px;
	margin-bottom: 20px;
	font-size: 18px;
	color: #333;
}

/* 제목 링크 스타일 */
body>div.my_container>div.my_main>div.mypage_main_content>div.mypage_box_css>h3>a.my_section_title
	{
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	color: #333;
	text-decoration: none;
	padding-bottom: 5px;
	transition: border-color 0.3s ease, color 0.3s ease;
}

body>div.my_container>div.my_main>div.mypage_main_content>div.mypage_box_css>h3>a.my_section_title:hover
	{
	color: #ccc5b9;
	text-decoration: none;
}

/* 박스 스타일 */
body>div.my_container>div.my_main>div.mypage_main_content>div.mypage_box_css>div.my_box_list
	{
	background-color: white;
	padding: 15px;
	margin-bottom: 15px;
	border: 1px solid #ccc5b9;
	border-radius: 5px;
}

/* 리스트 스타일 */
body>div.my_container>div.my_main>div.mypage_main_content>div.mypage_box_css>div.my_box_list ul
	{
	list-style: none;
	padding: 0;
}

body>div.my_container>div.my_main>div.mypage_main_content>div.mypage_box_css>div.my_box_list li
	{
	margin: 5px 0;
	font-size: 14px;
	color: #333;
}

/* 빈 상태 메시지 스타일 */
div.empty-message {
	color: #888;
	font-size: 14px;
	text-align: center;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*데이터값 css 전체 영역*/
body>div.my_container>div.my_main>div.mypage_main_content>div>div>ul.mypage_main_List
	{
	/* border: 1px solid #ccc5b9; */
}

/*데이터값 css 하나값 영역*/
body>div.my_container>div.my_main>div.mypage_main_content>div>div>ul>li.mypage_main_List_card
	{
	/* border: 2px solid black; */
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

div.mypage_main_List_poster {
	float: left;
	width: 110px;
	height: 154px;
	margin-right: 20px;
}

div.mypage_main_List_poster img {
	width: 110px;
	height: 151px;
}