@charset "UTF-8";

div.my_h2 {
	text-align: center;
}

div.my_h2 h2 {
	font-weight: bold;
	font-size: 28px;
}

div.my_h2 p {
	font-size: 18px;
}

div#mypageEditFrm>form {
 	/* border: solid 1px blue;  */
	height: 500px;
	margin-top: 21px;
}

div#mypageEditFrm>form>table#tblMemberEdit>tbody {
	height: 450px;
	background-color: white;
}

div#mypageEditFrm>form>table#tblMemberEdit>tbody>tr>td#tblEditcss {
	background-color: #ccc5b9;
	border: solid 1px white;
	border-top: 1px solid #ccc5b9;
	width: 24%;
	text-align: center;
	font-weight: bold;
}

div#mypageEditFrm>form>table#tblMemberEdit {
	width: 100%;
	border-collapse: collapse;
}

div#mypageEditFrm>form>table#tblMemberEdit>tbody>tr {
	border: 1px solid #ccc5b9;
	border-right: none;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
button.mypagepwdcss {
	background-color: #ffffff;
	margin-left: 20px;
	border: 1px solid #403d39;
	border-radius: 4px;
	padding: 8px;
}

p.pwdupdate {
	display: inline-block;
	font-size: 14px;
	font-style: italic;
	color: gray;
}

input.requiredInfo {
	float: none;
}

input.mypageupbtn {
	padding: 8px 16px;
	border: 1px solid #403d39;
	background-color: #ffffff;
	color: #403d39;
	cursor: pointer;
	transition: background-color 0.3s ease;
	border-radius: 4px;
	font-size: 14px;
}

input.mypageupbtn:hover {
	background-color: #f4f4f4;
}

div.mypageupbutton {
	text-align: center;
	margin: 25px auto;
}

button.mypageupbtn {
	padding: 8px 20px;
	margin: 5px;
	border: 1px solid #403d39;
	background-color: #403d39;
	color: #fff;
	font-size: 14px;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button.mypageupbtn:hover {
	background-color: #333;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
input[type="text"], input[type="email"] {
	padding: 8px;
	margin-top: 5px;
	margin-left: 20px;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type="text"]:focus, input[type="email"]:focus {
	border-color: #eb5e28;
	outline: none;
}

input[readonly] {
	background-color: #f2f2f2;
  	color: #b3b3b3;
  	cursor: not-allowed;
}
input[readonly]:hover {
 	 box-shadow: none;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* 마지막 비밀번호 변경일 전체 창*/
div#mypageEditFrm>form>table#tblMemberEdit > tbody > tr > td> div{
	 display: flex;
	 align-items: center; 
}

/* 마지막 비밀번호 변경일 글자 */
div#lastpwdchangedate {
    font-style: italic;
    color: gray;
    margin-left: 9px; 
    font-size: 15px;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* 비밀번호 변경 모달 전체 창 */
div#passwdFind .modal-dialog {
    max-width: 500px; 
    margin: 100px auto; 
}

/* 비밀번호 변경 모달 헤더 창 */
div#passwdFind .modal-header {
	background-color: #000;
    color: white;
    text-align: center;
}

/* 비밀번호 변경 모달 버튼 창 */
div#passwdFind .modal-header .close {
    color: white;
    font-size: 30px;
}

/* 비밀번호 변경 입력 창 */
div#pwFind .div_pwd {
    margin-bottom: 20px;
}

/* 비밀번호 변경 입력 창 */
div#pwFind input[type="password"] {
    width: 100%; 
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* 비밀번호 변경 입력창 글자 창 */
div#pwFind span {
    font-weight: bold;
}

/* 비밀번호 변경 버튼 창 */
div#pwFind button {
    width: 100%; 
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

/* 비밀번호 변경하기 버튼 창 */
div#pwFind .btn-success {
    background-color: #eb5e28;
    border-color: none !important;
}

/* 비밀번호 변경하기 푸터 창 */
div#passwdFind .modal-footer .btn-danger {
    background-color: #dc3545;
}

/* 비밀번호 변경하기 푸터 창닫기 */
div#passwdFind .modal-footer button {
    margin-left: 10px;
}

span.error{
	font-size: 10px;
}