@charset "UTF-8";

div.my_h2 h2 {
	font-weight: bold;
	font-size: 22px;
	margin-bottom: 10px;
}

div.my_h2 p {
	font-size: 18px;
}

/* 포인트 테이블 스타일 */
div.movie_point table {
	width: 100%;
	border-collapse: collapse;
	border-top: solid 1px #333;
	border-bottom: solid 1px #333;
}

div.movie_point table th, .movie_status table td {
	padding: 10px;
	text-align: center;
	font-size: 0.95em;
}

div.movie_point table th {
	background-color: buttonface;
	color: black;
	font-weight: bold;
	border-bottom: solid 1px #ccc5b9;
}

div.movie_point table td {
	color: #555;
	text-align: center;
	border-bottom: solid 1px #eee;
}

body>div.my_container>div.my_main>div.mypage_main_content>div.my_point_list table
	{
	margin-top: 30px; width : 100%;
	border-collapse: collapse;
	border-top: solid 1px #333;
	border-bottom: solid 1px #333;
	width: 100%;
}

body>div.my_container>div.my_main>div.mypage_main_content>div.my_point_list td
	{
	padding: 10px;
	text-align: center;
	font-size: 0.95em;
}

body>div.my_container>div.my_main>div.mypage_main_content>div.my_point_list th
	{
	background-color: #ccc5b9;
	color: #403d39;
	font-weight: bold;
	text-align: center;
	border-bottom: solid 1px #ccc5b9;
}

body>div.my_container>div.my_main>div.mypage_main_content>div.my_point_list  tr
	{
	border-bottom: solid 1px #ccc5b9;
}