@charset "UTF-8";

div.my_box_list {
	margin-bottom: 50px;

}

div.my_box_list>h3.title0 {
	font-size: 21px;
	color: #333;
	font-weight: bold;
}

div.my_box_list>p.title1 {
	border-bottom: 2px solid #ddd;
	font-size: 13px;
	padding-bottom: 5px;
	margin-bottom: 20px;
}

div.my_box_list>.title2 {
	text-align: center;
}

div.my_box_list>h3.title2 {
	font-size: 18px;
}

div.my_box_list>p.title2 {
	font-size: 13px;
}

div.my_box_list strong {
	color: #eb5e28;
}

/* 예매내역 리스트 */
div.reservation_box {
	border: 2px solid #ddd;
	padding: 16px;
	margin-bottom: 20px;
	height: 280px; 
}
/*///////////////////////////////////////////////////////////////////////////////////*/
/* 포스터 */
div.my_main_reservationlist_poster {
	float: left;
	width: 110px;
	height: 158px;
	margin-right: 20px;
}

div.my_main_reservationlist_poster  img {
	width: 110px;
	height: 154px;
}

/* 본문 */
div.reservation_details {
	overflow: hidden;
}

/* 영화제목, 가격 */
h2.reservation_h2 {
	font-size: 14px;
	padding-bottom: 10px;
	border-bottom: 2px solid #eee;
	margin-bottom: 8px;
}

/* 영화제목 */
h2.reservation_h2 a {
	color: black;
	padding-left: 30px;
}

/* 가격 */
h2.reservation_h2 span {
	float: right;
	padding-right: 30px;
}

/* 본문 */
div.reservation_details {
	padding: 0;
	font-size: 14px;
	line-height: 1.8;
}

div.reservation_details li {
	list-style-type: none;
}

div.reservation_details>ul>li>dl>dd.start_time {
	color: #eb5e28;
	font-weight: bold;
}

div.reservation_details>ul>li>dl {
	display: flex;
	margin: 0;
	padding: 0;
}

div.reservation_details>ul>li>dl>dt {
	font-weight: bold;
	width: 80px;
	color: #555;
}

div.reservation_details>ul>li>dl>dt>dd {
	margin: 0;
	color: #333;
}

div.reservation_actions {
	text-align: right;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: -26px;
}

div.reservation_actions>button {
	border: none;
	padding: 8px 12px;
	cursor: pointer;
	font-size: 14px;
	border-radius: 4px;
}

div.reservation_actions>button.Receipt_Printing {
	background-color: #403d39;
	color: white;
}

div.reservation_actions>button.Receipt_Printing:hover {
	background-color: #ccc5b9;
	color: black;
}

div.reservation_actions>button.Cancel_Reservation {
	background-color: #eee;
	color: #403d39;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* 취소내역 테이블 스타일 */
div.movie_status table {
	width: 100%;
	border-collapse: collapse;
	border-top: solid 1px #333;
	border-bottom: solid 1px #333;
}

div.movie_status table th, .movie_status table td {
	padding: 10px;
	text-align: center;
	font-size: 0.95em;
}

div.movie_status table th {
	background-color: #ccc5b9;
	color: #403d39;
	font-weight: bold;
	border-bottom: solid 1px #ccc5b9;
}

div.movie_status table tr {
	border-bottom: solid 1px #ccc5b9;
}


div.movie_status table td {
	color: #555;
}

div.title {
	display: flex;
}

div.title h4 {
	font-size: 15px;
	font-weight: bold;
}

div.title p {
	font-size: 12px;
}

p.empty-message {
	text-align: center;
	font-size: 16px;
	color: #888;
	margin-top: 20px;
}